 <html> 
   <head> 
     <title>Client-side OAuth Example</title> 
   </head> 
   <body> 
   <script>    
     var appID = 420756987974770;
     if (window.location.hash.length == 0) {
       var path = 'https://www.facebook.com/dialog/oauth?';
   var queryParams = ['client_id=' + appID,
     'redirect_uri=http://openwrt.lan/cgi-bin/luci/kikiauth/oauth/facebookcallback/',
     'response_type=token',
     'status=abc'];
   var query = queryParams.join('&');
   var url = path + query;
   window.open(url,"_parent");
     } else {
       var accessToken = window.location.hash.substring(1).split("&")[0].split("=")[1];
       var gwRedirectURI = "http://192.168.2.1/wifidog/auth?token="+accessToken;
       window.open(gwRedirectURI,"_self");
     }
   </script>
   </body> 
  </html>
