 <html>
   <head>
     <title>Client-side OAuth Example</title>
     <script>
   	function qsGetParameterByName(name){
		name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
		var regexS = "[\\?&]" + name + "=([^&#]*)";
		var regex = new RegExp(regexS);
		var results = regex.exec(window.location.search);
		if(results == null){
			return "";
		}
		else
			return decodeURIComponent(results[1].replace(/\+/g, " "));
   	}

   	function hashGetParameterByName(name){
   		var params = {}, queryString = location.hash.substring(1),
   		    regex = /([^&=]+)=([^&]*)/g, m;
   		    while (m = regex.exec(queryString)) {
   		    params[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
   		}
   		return params[name];
   	}
     </script>
   </head>
   <body>
   <script>
        var accessToken = hashGetParameterByName("access_token");       		//window.location.hash.substring(1).split("&")[0].split("=")[1];
        var gwRedirectURI = "http://192.168.2.1:2060/wifidog/auth?token="+accessToken;
        window.open(gwRedirectURI,"_self");
   </script>
   </body>
  </html>
