<html>
<head>
	<title>Gateway message</title>
</head>
<body>
	<script>
		function gotoLoginPage(){
			window.open('http://google.com','_self');
		}

	</script>
	<h1 style="text-align:center">Sorry, you are unauthenticated. </h1>
	<h2 style="text-align:center">There was error in authentication process. </br>It may be:</h2>
	<ul>
		<li>
		Your session is over. You need to <a href="javascript:gotoLoginPage()">login</a> again.
		</li>
		<li>
		You logged in to Google Apps domain with wrong email. You need to <a href="https://accounts.google.com/Logout?continue=http://google.com">logout and start over</a>.
		</li>
	</ul>
</body>
</html>