<%
local uci = require "luci.model.uci".cursor()
local enabled_services = {}
local fb_app_id, fb_redirect_uri, gg_app_id, gg_redirect_uri
function check_service_enabled(sect)
	if sect.enabled == '1' then
		local name = sect['.name']
		if name == 'facebook' then
			fb_app_id = sect.app_id
			fb_redirect_uri = sect.redirect_uri
		elseif name == 'google' then
			gg_app_id = sect.app_id
			gg_redirect_uri = sect.redirect_uri
		end		
		table.insert(enabled_services, name)
	end
end

uci:foreach("kikiauth", "oauth_services", check_service_enabled)
%>
<html>
<head>
<title>Please choose one service to login</title>
<script type="text/javascript">
	var width=screen.width/2+50,height=screen.height/2,left=screen.width/4,top=screen.height/4;
	var gwAddress = "http://192.168.2.1/cgi-bin/luci/kikiauth/";
	function googleOAuth(){
		window.open("https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile&redirect_uri=<%= gg_redirect_uri %>&response_type=token&client_id=<%= gg_app_id %>","_self");
//,"left="+left+",width="+width+",height="+height);
	}

	function facebookOAuth(){
		window.open(gwAddress+"oauth/facebookcallback?app_id=<%= fb_app_id %>&redirect_uri=<%= fb_redirect_uri %>","_self");
//,"left="+left+",width="+width+",height="+height);
	}
	</script>
</head>
	<body>
	<%
	local g = "<input type='button' value='Login with Google' onClick='googleOAuth()'/>"
	local f = "<input type='button' value='Login with Facebook' onClick='facebookOAuth()' />"
	for i, n in ipairs(enabled_services) do
		if n == 'facebook' then
			write(f)
		elseif n ==  'google' then
			write(g)
		end
	end
	%>
	</body>
</html>
