<%
local uci = require "luci.model.uci".cursor()
local enabled_services = {}
local fb_app_id, fb_redirect_uri, gg_app_id, gg_redirect_uri
function check_service_enabled(sect)
	if sect.enabled == '1' then
		local name = sect['.name']
		if name == 'facebook' then
			fb_app_id = sect.app_id
			fb_redirect_uri = sect.redirect_uri
		elseif name == 'google' then
			gg_app_id = sect.app_id
			gg_redirect_uri = sect.redirect_uri
		end
		table.insert(enabled_services, name)
	end
end

uci:foreach("kikiauth", "oauth_services", check_service_enabled)
%>
<html>
<head>
<title>Please choose one service to login</title>
	<script>
	function getParameterByName(name){
		name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
		var regexS = "[\\?&]" + name + "=([^&#]*)";
		var regex = new RegExp(regexS);
		var results = regex.exec(window.location.search);
		if(results == null){
			return "";
		}
		else
			return decodeURIComponent(results[1].replace(/\+/g, " "));
   	}
	</script>

	<script type="text/javascript">
	var width=screen.width/2+50,height=screen.height/2,left=screen.width/4,top=screen.height/4;
	var authServerAddress = "http://"+getParameterByName("gw_address")+"/cgi-bin/luci/kikiauth/";

	function googleOAuth(){
		window.open("https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile&redirect_uri=<%= gg_redirect_uri %>&response_type=token&client_id=<%= gg_app_id %>","_self");
//,"left="+left+",width="+width+",height="+height);
	}

	function facebookOAuth(){
        var gw_address = getParameterByName("gw_address");
        var gw_port = getParameterByName("gw_port");
        var path = 'https://www.facebook.com/dialog/oauth?';
        var appID = '<%= fb_app_id %>';
   		var redirect_uri = '<%= fb_redirect_uri %>';
   		var queryParams = ['client_id=' + appID,
     		'redirect_uri='+redirect_uri,
     		'response_type=token',
     		'state='+gw_address+':'+gw_port];
   		var query = queryParams.join('&');
   		var url = path + query;
   		window.open(url,"_parent");
//,"left="+left+",width="+width+",height="+height);
	}
	</script>
</head>
	<body>
	<%
	local g = "<input type='button' value='Login with Google' onClick='googleOAuth()'/>"
	local f = "<input type='button' value='Login with Facebook' onClick='facebookOAuth()' />"
	for i, n in ipairs(enabled_services) do
		if n == 'facebook' then
			write(f)
		elseif n ==  'google' then
			write(g)
		end
	end
	%>
	</body>
</html>
